
    <header>
      <div class="collapse " id="navbarHeader" style="background-color: #6C8A88" >
        <div class="container">
          <div class="col">
            <ul   style="text-decoration: none;list-style-type: none;display: flex;flex-direction: column;" >
            <li>
            <div class="col-sm-4 col-md-1 py-4">
             <a  routerLink="/about"> <h4 class="text-white">About</h4></a>
              
            </div>
          </li>
          <li>
            <div class="col-sm-4 offset-md-1 py-4">
              <a routerLink="/login"> <h4 class="text-white"> ADMIN LOGIN</h4> </a>
             
            </div>
          </li>
          <li>
            <div class="col-sm-4 offset-md-1 py-4">
              <a routerLink="/Home"> <h4 class="text-white">Home</h4> </a>
             
            </div>
            </li>
            <li>
            <div class="col-sm-4 offset-md-1 py-4">
              <a routerLink="/Main"> <h4 class="text-white">main website</h4> </a>
             
            </div>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark box-shadow" style="background-color: #C70039">
        <div class="container d-flex justify-content-between">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" style="background-color:black;">
            <span class="navbar-toggler-icon" style="background-color:black;"></span>
          </button>
        </div>
      </div>
    </header>
